header {
    background-color:#006494 ;
    text-align: center;
    padding-top: 35px;
    font-family: "Raleway", sans-serif;
    
}

header h1 {
    display: inline;
    
}

#title-name {
    color: #FFFBBD;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#FFFBBD ;
    height: 50px;
    font-size: 25px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    background-color: #7FB069;
    text-decoration: underline;
    color: white;
    height: 100%;
}

.card-title {
    background-color: #7FB069;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-top: -1px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    height: 50px;
    padding-top: 20px;
    
}

/* main p, main ul {
    
} */

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr ;
}

#about-me, #web-dev-resources {
    border-style: solid;
    border-color: gray;
    border-width: 1px; 
    border-radius: 25px;
}
.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card ul {
    font-size: 30px;
}
#about-me {
    grid-column: 1/2;
    margin-right: 10px;
   
}

#about-me p {
    margin-right: 10px;
    text-align: center;
    font-size: 25px;
    padding: 10px;

}

#homepage-img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 300px;
    float: left;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px gray;
}

#web-dev-resources {
    grid-column: 2/3;
}

footer {
    background-color: #006494 ;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}

footer p {
    font-size: 20px;
}

h1, footer p {
    color: white;
}
